

.bg-img,
.bg-img1,
.bg-img2 {
    width: 100%;
    height: 60vh;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img {
    height: 200px;
    background-image: url("https://res.cloudinary.com/daitesqqd/image/upload/v1766505566/stylish_fgahbs.jpg");
}

.bg-img1 {
    height: 200px;
    background-image: url('https://res.cloudinary.com/daitesqqd/image/upload/v1766505358/Image_fx-750_dy50wv.png');
}

.bg-img2 {
    height: 240px;
    background-image: url('https://res.cloudinary.com/daitesqqd/image/upload/v1766505349/Image_fx-86_kcp3nw.png');
}






.over-bg-img{
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    min-height: 200px !important;
    background-color: rgba(0, 0, 0, 0.475) !important;
}
.over-bg-img1{
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    min-height: 200px !important;
    background-color: #0042749e !important;
}
.over-bg-img2{
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    min-height: 240px !important;
    background-color: rgba(0, 0, 0, 0.475) !important;
}




.bg-white-trans{
    background-color: rgba(0,0,0,0.1)  !important;
}